@charset "utf-8";

/* ----------------------------------------------
UI - COMMON
------------------------------------------------*/
html,body {background:#222; height:100%; overflow:hidden;}



/* ----------------------------------------------
UI - LAYOUT
------------------------------------------------*/


/* animation */
#side, #container
{transition:all .6s cubic-bezier(.7,0,.3,1); transform:all .6s cubic-bezier(.7,0,.3,1);-webkit-transition:all .6s cubic-bezier(.7,0,.3,1);}

/* animation2 */
#reserveDate,
#reserveSelect
{transition:all .2s cubic-bezier(.7,0,.3,1); transform:all .2s cubic-bezier(.7,0,.3,1);-webkit-transition:all .2s cubic-bezier(.7,0,.3,1);}

/* show animation */
@-webkit-keyframes show {	
	0% {transform:translate3d(0, 100px, 0);-webkit-transform:translate3d(0, 100px, 0); opacity:0;} 
	100% {transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0); opacity:1;}
}
@keyframes show {
	0% {transform:translate3d(0, 100px, 0);-webkit-transform:translate3d(0, 100px, 0); opacity:0;} 
	100% {transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0); opacity:1;}
}

/* showBox animation */
@-webkit-keyframes showBox {	
	0% {opacity:0;} 80% {opacity:0;} 100% {opacity:1;}
}

@keyframes showBox {
	0% {opacity:0;} 80% {opacity:0;} 100% {opacity:1;}
}

/* function */
#wraps.reserve {}
#wraps.reserve #container {width:calc(100% - 300px);}
#wraps.reserve #side {width:300px; background:#FFF; position:relative;}


#wraps {font-size:0; height:100%; overflow:hidden;}
#side, #container {display:inline-block; vertical-align:top; height:100%;}


#container {width:calc(100% - 80px); background-image:radial-gradient(#444 0%, #222 80%);}
#container .header {height:50px; font-size:20px; color:rgba(255,255,255,0.6); background: rgba(0,0,0,0.2);}
#container .header .title,
#container .header .tools { margin:0 20px;}
#container .header .title {}
#container .header .title h2 {display:block; padding:0 10px; border-left:4px solid #c40452; font-size:24px; font-weight:bold; color:rgba(255,255,255,0.8);}
#container .header .tools {}
#container .header .tools .time {line-height:20px;}
#container .header .tools .time #date {font-size:14px;}

/* reserveIng */
#container #reserveIng {height:calc(100% - 50px); background: rgba(0,0,0,0.2); animation:show 0.2s;-webkit-animation:show 0.2s;}
#container #reserveIng .info {font-size:30px; color:#FFF; text-align:center; line-height:60px; margin-bottom:60px;}
#container #reserveIng .info strong {display:block; font-size:50px; font-weight:bold;}
#container #reserveIng .info span {display:block;}
#container #reserveIng .info p {display:block;}

/* reserveFull */
#container #reserveFull {display:none; height:calc(100% - 50px); animation:show 0.2s;-webkit-animation:show 0.2s;}
#container #reserveFull .tableWrap {}
#container #reserveFull .tableWrap.tableHeader {height:37px; padding-right:10px;}
#container #reserveFull .tableWrap.tableBody {height:calc(100% - 37px); overflow-y:scroll; overflow-x:hidden;}
#container #reserveFull .tableWrap table {height:100%; border-bottom:1px solid rgba(255,255,255,0.06);}
#container #reserveFull .tableWrap table thead {}
#container #reserveFull .tableWrap table thead tr th {text-align:center; border-bottom:2px solid rgba(255,255,255,0.06); border-left:1px solid rgba(0, 0, 0, 0.16); background:rgba(0,0,0,0.1);}
#container #reserveFull .tableWrap table thead tr th:nth-child(5) {background:rgba(255,255,255,0.1);}
#container #reserveFull .tableWrap table tbody tr.hr td {border-top:1px solid rgba(255,255,255,0.2);}
#container #reserveFull .tableWrap table tbody tr td {border-top:1px solid rgba(255,255,255,0.06); border-left:1px solid rgba(0, 0, 0, 0.16); padding:0; text-align:center;}
#container #reserveFull .tableWrap table tbody tr td .mm,
#container #reserveFull .tableWrap table tbody tr td.reserve {background:#c40452;}
#container #reserveFull .tableWrap table tbody tr td.reserve .info {padding:0;}
#container #reserveFull .tableWrap table tbody tr td.reserve .info strong,
#container #reserveFull .tableWrap table tbody tr td.reserve .info span {display:block; color:rgba(255,255,255,0.8); font-size:12px; text-align:center; line-height:18px;}
#container #reserveFull .tableWrap table tbody tr td.reserve .info strong {font-weight:bold; color:rgba(255,255,255,1);}
#container #reserveFull .tableWrap table tbody tr td.reserve .info span {}


#side {width:80px; background:#333;}

/* navi */
#side #navi { height:100%;}
#side #navi .buttonWraps {display:flex; justify-content:flex-end; align-items:center; flex-direction:column;}
#side #navi .buttonWraps button {background:rgba(0,0,0,0.2); width:60px; height:60px; border-radius:50%; font-size:30px; color:rgba(255,255,255,0.6); margin-bottom:40px;}
#side #navi .buttonWraps button:active {background:#c40452; color:#FFF;}
#side #navi .buttonWraps button.active {background:#c40452; color:#FFF;}

/* reserveWrite */
#side #reserveWrite {height:100%; display:none;}
#side #reserveWrite .formWrap {height:100%; padding:20px; box-sizing: border-box;}
#side #reserveWrite .formWrap .form {height:calc(100% - 80px); width:260px; min-width:260px; animation:showBox 0.8s;-webkit-animation:showBox 0.8s;}
#side #reserveWrite .formWrap .form h2 {font-size:20px; font-weight:bold; border-bottom:1px solid #eee; padding-bottom:20px; margin-bottom:20px}
#side #reserveWrite .formWrap .form .reserveChoice {background:#c40452; color:#FFF; font-size:16px; font-weight:bold; text-align:center; padding:10px; border-radius:4px; margin-bottom:20px;}
#side #reserveWrite .formWrap .form .reserveChoice:before {font-weight:normal;}
#side #reserveWrite .formWrap .form .reserveInfo {background:#c40452; color:#FFF; font-size:14px; font-weight:bold; text-align:center; padding:10px; border-radius:4px; margin-bottom:20px;}
#side #reserveWrite .formWrap .form dl {margin-bottom:20px;}
#side #reserveWrite .formWrap .form dl dt {font-size:16px; font-weight:bold; display:block; margin-bottom:10px;}
#side #reserveWrite .formWrap .form dl dd {}
#side #reserveWrite .formWrap .form .week {margin-bottom:20px;}
#side #reserveWrite .formWrap .form .week button {background:#666; color:#FFF; font-size:20px; width:46px; height:46px; line-height:46px; border-radius:50%; margin:0 3px;}
#side #reserveWrite .formWrap .form .week button.active {background:#c40452; color:#FFF;}
#side #reserveWrite .formWrap .form .week button:disabled { opacity:0.2;}
#side #reserveWrite .formWrap .form .time {margin-bottom:20px;}
#side #reserveWrite .formWrap .form .time dl {font-size:16px; font-weight:bold;}
#side #reserveWrite .formWrap .form .time dl dt { display:block; margin-bottom:10px;}
#side #reserveWrite .formWrap .form .time dl dd {}
#side #reserveWrite .formWrap .form .time dl dd .clock,
#side #reserveWrite .formWrap .form .time dl dd .min {display:inline-block; vertical-align:top;}
#side #reserveWrite .formWrap .form .time dl dd .clock {width:130px;}
#side #reserveWrite .formWrap .form .time dl dd .min {width:120px;}

#side #reserveWrite .formWrap .buttonWrap {text-align:center; animation:showBox 0.8s;-webkit-animation:showBox 0.8s;}

#side #reserveWrite .formWrap.date {position:fixed; width:300px; right:-320px; top:0px; bottom:0px; z-index:2; background:#FFF; box-shadow:0 3px 3px rgba(53, 57, 74, 0.7);}
#side #reserveWrite .formWrap.date.active {right:-6px;}






